// Fuente
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F5EAE1;
  color: #333333;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.q-btn {
  font-weight: 500;
  text-transform: none;
  border-radius: 4px;
}